.DS_Store
/.env
/.env.bak.vessel
/.idea
/.phpstorm.meta.php
/.vagrant
/.vscode
/_ide_helper.php
/_ide_helper_models.php
/Homestead.json
/Homestead.yaml
/node_modules
/npm-debug.log
/public/css
/public/hot
/public/js
/public/mix-manifest.json
/public/sitemap.xml
/public/storage
/storage/*.key
/storage/medialibrary
/vendor
/yarn-error.log
Thumbs.db
