*.log
.DS_Store
/.env
/.env.backup
/.env.bak.vessel
/.env.dusk
/.idea
/.php_cs.cache
/.phpintel
/.phpunit.result.cache
/.vagrant
/.vscode
/auth.json
/Homestead.json
/Homestead.yaml
/node_modules
/phpunit.dusk.xml
/phpunit.xml
/public/css
/public/hot
/public/js
/public/mix-manifest.json
/public/sitemap.xml
/public/storage
/public/vendor
/storage/*.key
/storage/medialibrary
/vendor
/yarn.lock
Thumbs.db
